.Five-random-emojis__carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
    width: 30rem;
    margin-left: -11rem;
    pointer-events: none;
}

.Five-random-emojis__emojis {
    background: none;
    border: none;
    font-size: 5rem;
    opacity: 0.5;
    filter:grayscale(1);
    pointer-events: none;
}

.Five-random-emojis__emojis:nth-child(1), .Five-random-emojis__emojis:nth-child(5) {
    font-size: 3rem;
    padding: 2rem;
}

.Five-random-emojis__emojis:nth-child(2), .Five-random-emojis__emojis:nth-child(4) {
    font-size: 4rem;
    padding: 1rem;
}

.Five-random-emojis__emojis:nth-child(3) {
    opacity: 1;
    filter:grayscale(0);
    font-size: 5rem;
}
