.progress-container {
    width: 500px;
    height: 15px;
    background: var(--button-background-0);
    border-radius: 20px;
    margin-top: 5px;
}

.progress {
    text-align: center;
}

.progress-bar-container {
    width: 20%;
    opacity: 0.8;
    box-shadow: 0 3px -5px var(--main-color-1), 0 2px 5px var(--main-color-1);
    height: 15px;
    background: linear-gradient(to right, var(--main-color-1), var(--main-color-0));
    border-radius: 20px;
}

.progress span {
    font-size: 180%;
}