.Gallery {
   max-width: 920px;
   display: grid;
   grid-template-areas: 
   "heading"
   "nav"
   "activeContent";
   grid-template-rows: 5.4rem 3.6rem auto;
}

.Gallery__heading {
    text-align: center;
    grid-area: heading;
    font-size: 3.6rem;
}

.Gallery__nav {
    grid-area: nav;
}

.Gallery__content {
    grid-area: activeContent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 12px;
}

.Gallery__backBtn {
    height: 3.6rem;
    margin-top: -0.6rem;
    background: none;
    border: none;
}
.Gallery__backBtn img {
    height: 100%;
}