.gallery {
    /* width: 160px; */
    text-align: center;
    color: #fff;
}

.gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.gallery__header {
    font-size: 1.7rem;
    padding: 5px;
    color: var(--main-color-0);
    background-color: var(--button-background-0);
}

.top__images {
    display: flex;
    justify-content: center;
    max-width: 210px;
    flex-wrap: wrap;
}


.gallery__image-container {
    position: relative;
    max-width: 100px;
}

.gallery__expression {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.4rem;
}

.gallery__image {
    max-width: 100%;
}
