.WebcamComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.WebcamComponent__camera {
    background: #3d3d3d;
    width: 760px;
    height: 400px;
}
